{%extends "zaklad.html"%}
{% block title %}NSI miniprojekt{% endblock %}
{% block style%}
<style>
    #numberList {
        max-height: 300px; /* Maximum height of the list */
        overflow-y: auto; /* Enable vertical scrolling */
        border: 1px solid #ccc; /* Optional: Add border for better visibility */
        padding: 10px; /* Optional: Add padding for better spacing */
    }
</style>
<!--<meta http-equiv="refresh" content="1">-->
{%endblock%}
{% block center %}{% endblock %}
{% block info %}
<div class="card text-bg-light text-center">
    <div class="card-body">
        <h5 class="card-title">Temperature</h5>
        <p class="card-text">Last measured temperature: <span id="temp-value">{{TempSt}}</span>°C</p>
        <p class="card-text">Time of measurement: <span id="time-value">{{TimeSt}}</span></p>
    </div>
</div>
{% endblock %}
{% block table %}
<form id="entryForm" class="mb-3">
    <div class="">
        <h2 class="input-group-text">Add entries:</h2>
    <div class="input-group">
      <input type="number" class="form-control mr-2" id="entryAdd" name="entryAdd" step="0.001" placeholder="Temperature" >
      <div class="input-group-append">
        <button type="submit" class="btn btn-outline-secondary {% if not loggedin %}disabled{% endif %}" id="add">Add</button>
      </div>
    </div>
</form>
<form id="numberForm" class="mb-3">
    <div class="">
        <h2 class="input-group-text">Enter number of entries (oldest to newest) to show:</h2>
    <div class="input-group">
      <input type="number" class="form-control mr-2" id="numberInput" name="numberInput" min="1" required >
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary {% if not loggedin %}disabled{% endif %}" id="generateButton">List</button>
        <button type="submit" class="btn btn-outline-secondary {% if not loggedin %}disabled{% endif %}" id="deleteButton">Delete entries</button>
      </div>
    </div>
</form>
<div class="row">
    <div class="col-sm">
      <ul id="numberList" class="list-group {% if not loggedin %}disabled{% endif %}"></ul>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    function fetchSerialData() {
        $.getJSON('/api/get_last', function(data) {
                //console.log(data);  // Log the response for debugging
                if (data.length === 3) {
                    const [id, time, temp] = data;
                    $('#temp-value').text(temp.toFixed(2));
                    $('#time-value').text(time);
                } else {
                    console.error('Unexpected API response format');
                }
            }).fail(function(jqXHR, textStatus, errorThrown) {
                console.error('Error fetching data: ', textStatus, errorThrown);
            });
        }

        $(document).ready(function() {
            fetchSerialData();  // Fetch data immediately on page load
            setInterval(fetchSerialData, 5000);  // Fetch data every second
        });

    function generateTimestamp() {
        var currentDate = new Date();
        var year = currentDate.getFullYear();
        var month = ("0" + (currentDate.getMonth() + 1)).slice(-2);
        var day = ("0" + currentDate.getDate()).slice(-2);
        var hours = ("0" + currentDate.getHours()).slice(-2);
        var minutes = ("0" + currentDate.getMinutes()).slice(-2);
        var timestamp = year + "-" + month + "-" + day + " " + hours + ":" + minutes;
        return timestamp;
    }



    function updateList(numberInput){
        var numberList = document.getElementById("numberList");

            // Clear previous list items
            numberList.innerHTML = "";
            fetch('/api/get_data', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ numberInput: numberInput }),
            })
            .then(response => response.json())
            .then(data => {
                // Generate and display the list of numbers
                data.forEach(entry => {
                    var listItem = document.createElement("a");
                    var Id=entry[0];
                    var Time=entry[1];
                    var Temp=entry[2].toFixed(2);
                    listItem.textContent = `ID: ${Id} | Time: ${Time} | Temperature: ${Temp}`;
                    listItem.className = "list-group-item d-flex justify-content-between align-items-center";
                    listItem.href="/Meas/"+Id;
                    
                    // Add delete button to each list item
                    var deleteButton = document.createElement("button");
                    deleteButton.textContent = "Delete";
                    deleteButton.className = "btn btn-danger btn-sm";
                    deleteButton.setAttribute("data-id", entry[0]); // Set data attribute to store the ID of the entry
                    deleteButton.addEventListener("click", function() {
                        var id = this.getAttribute("data-id");
                        fetch('/api/del_data', {
                            method: 'POST',
                            headers: {
                            'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({ numberInput: id }),
                        })
                        .then(response => response.json())
                        numberList.removeChild(this.parentElement);
                    });
                
                    listItem.appendChild(deleteButton);
                    numberList.appendChild(listItem);
                });
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        
    }


    document.getElementById("numberForm").addEventListener("submit", function(event) {
        event.preventDefault(); // Prevent the form from submitting

        var numberInput = parseInt(document.getElementById("numberInput").value);
        console.log(event.submitter.id)
        if (event.submitter.id === "generateButton") {
            // Logic for generating list
            console.log("Generate button clicked");
            updateList(numberInput)
  
            
        } else if (event.submitter.id === "deleteButton") {
            fetch('/api/del_data2', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ numberInput: numberInput }),
            })
            setTimeout(() => {}, 2000); // Wait for 1 second (1000 milliseconds)
            updateList(numberInput)
            console.log("Delete button clicked");
        } 
    });
    document.getElementById("entryForm").addEventListener("submit", function(event) {
        event.preventDefault(); 
        console.log(event.submitter.id)
        if(event.submitter.id === "add"){
            var entryAdd=parseFloat(document.getElementById("entryAdd").value)
            var timestamp=generateTimestamp()
            fetch('/api/add', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({'time': timestamp, 'temp': entryAdd})
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                // Handle success response
                console.log(data);
                location.reload();
            })
            .catch(error => {
                // Handle error response
                console.error('Error:', error);
            });

        }
    });
</script>
{% endblock %}

