{%extends "zaklad.html"%}
{% block title %}Meas:{{id}}{% endblock %}
{% block info %}
<div class="card text-bg-light text-center">
    <div class="card-body">
        <h5 class="card-title">Temperature measurement {{id}}</h5>
        <p class="card-text">Measured temperature: {{TempSt}}°C</p>
        <p class="card-text">Time of measurement: {{TimeSt}}</p>
    </div>
</div>
{% endblock %}

{%block script%}

{%endblock%}