{%extends "zaklad.html"%}
{% block title %}Register{% endblock %}
{% block center %}
{%if not checked%}
<p style="color: red;">User not registered!</p>
{%endif%}
<form id="loginForm" action="/login" method="post">
    <div class="form-group">
        <label for="usr">Username</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend2">@</span>
          </div>
          <input type="text" class="form-control" id="usr" placeholder="Username" aria-describedby="inputGroupPrepend2" required>
        </div>
    </div>
    <div class="form-group" style="margin-bottom: 20px;">
      <label for="Pass">Password</label>
      <input type="password" class="form-control" id="Pass" placeholder="Password" required>
    </div>
    <div class="col text-right">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}
  
{%block script%}
<script>
    // Add event listener for form submission
    document.getElementById("loginForm").addEventListener("submit", function(event) {
      // Get the username value from the input field
      var username = document.getElementById("usr").value;
      var password = document.getElementById("Pass").value;
      // Append the username as a parameter to the form action URL
      this.action = "/register?usr=" + encodeURIComponent(username) + "&pass=" +encodeURIComponent(password);
    });
  </script>
{%endblock%}