<!DOCTYPE html>
<html lang="en">
  <head>
    
    <link 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
    crossorigin="anonymous">  
    <title>{% block title %}{% endblock %}</title>
    <!-- BOOTSTRAP https://getbootstrap.com/ -->  
    
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
        crossorigin="anonymous">
    </script>  
    <style>
      /* Optional: Add custom styles here */
      .center-form {
        display: flex;
        justify-content: center;
        align-items: center;
        /*height: 100vh; /* Adjust if needed */
      }
      
      .limited-width {
        max-width: 20%; /* Limit the width to 20% of the page */
      }
      .form-group:last-child {
        margin-bottom: 20px; /* Add margin at the bottom of the last form group */
      }
    </style> 
    {% block style %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/{% if loggedin %}user{% endif %}">NSI miniprojekt</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a id="loginLink" class="nav-link" href="/{% if loggedin %}user{% endif %}">{{user}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if not loggedin %}disabled{% endif %}" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav> 
    <div class="container-fluid">
      <div class="parent"> 
        <div class="container center-form limited-width"> 
          <div id="center-box">{% block center %}{% endblock %}</div>
        </div>
        <div class="second-div"> 
          <div id="info">{% block info %}{% endblock %}</div>
        </div>
      </div>
      <div id="table" class="container mt-5"style="max-width: 40%;">{% block table %}{% endblock %}</div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% block script %}{% endblock %}
  </body>
</html>